<footer>
  
  {% if site.googlescholar_username %}
  	   		<a href="https://scholar.google.ca/{{ site.googlescholar_username }}">
      		<i class="ai ai-google-scholar-square ai-1x"></i> Google Scholar </a>
  	{% endif %}
  
  {% if site.researchgate_username %}
      		<a href="https://www.researchgate.net/profile/{{ site.researchgate_username }}">
      		<i class="ai ai-researchgate-square ai-1x"></i> ResearchGate </a>
 	{% endif %}

  
	{% if site.github_username %}
     		<a href="https://github.com/{{ site.github_username }}">
      		<i class="fa fa-github"></i> GitHub	</a>
 	{% endif %}
  
  {% if site.linkedin_username %}
     		<a href="https://linkedin.com/in/{{ site.linkedin_username }}">
      		<i class="fa fa-linkedin"></i> LinkedIn	</a>
 	{% endif %}
  
  {% if site.facebook_username %}
     		<a href="https://www.facebook.com/{{ site.facebook_username }}">
      		<i class="fa fa-facebook"></i> Facebook </a>
 	{% endif %}
  
  {% if site.twitter_username %}
     		<a href="https://twitter.com/{{ site.twitter_username }}">
      		<i class="fa fa-twitter"></i> Twitter </a>
	{% endif %}
  
  {% if site.email %}
		<a href="mailto:{{ site.email }}">
          <i class="fa fa-envelope-o"></i> Email </a>
	{% endif %}

</footer>
